APP_NAME=CuotaGo
APP_VERSION=1.12.1
APP_ENV=local
APP_CURRENCY=DOP
APP_TIMEZONE=America/Santo_Domingo
SECRET_KEY=GENERA_UNA_CLAVE_LARGA
DATABASE_URL=postgresql+psycopg://postgres:TU_CLAVE@127.0.0.1:5432/cuotago
AUTO_CREATE_DB=true
FLASK_DEBUG=false
COOKIE_SECURE=false
PUSH_NOTIFICATIONS_ENABLED=true
PUSH_SCHEDULER_ENABLED=true
PUSH_CHECK_INTERVAL_MINUTES=5
PUSH_ALERT_START_HOUR=8
PUSH_ALERT_END_HOUR=22
PUSH_OVERDUE_REPEAT_HOURS=4
VAPID_SUBJECT=mailto:admin@example.com
VAPID_PUBLIC_KEY=TU_CLAVE_PUBLICA
VAPID_PRIVATE_KEY_B64=TU_CLAVE_PRIVADA_B64
SUPERADMIN_EMAIL=admin@cuotago.app
SUPERADMIN_PASSWORD=USA_UNA_CLAVE_LARGA_Y_UNICA
SUPERADMIN_NAME=Superadmin
SUPERADMIN_ORG_NAME=CuotaGo Administracion
